layout {
  default_tab_template {
      pane size=1 borderless=true {
          plugin location="zjstatus"
      }
      children
  }
  tab name="main" {
    pane split_direction="vertical" {
      pane command="hx" {
        args "."
      }
      pane split_direction="horizontal" {
        pane command="just" {
          start_suspended true
          args "check"
        }
        pane command="just" {
          start_suspended true
          args "deploy"
        }
      }
    }
  }
  tab name="agent" {
    pane command="opencode" start_suspended=true
  }
}
