// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

environment {
    // Fix Obsidian stealing rofi floating windows
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}
// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            // You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).
            layout "us, us";
            variant ", intl";
            options "grp:menu_toggle";

            // For example:
            // layout "us,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"

            // If this section is empty, niri will fetch xkb settings
            // from org.freedesktop.locale1. You can control these using
            // localectl set-x11-keymap.
        }

        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    // All commented-out settings here are examples, not defaults.
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    warp-mouse-to-focus mode="center-xy"

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="0%"
}

workspace "Dev" {
    open-on-output "HDMI-A-1"
}
workspace "Misc" {
    open-on-output "HDMI-A-1"
}
workspace "cOmms" 

workspace "Gaming" {
    open-on-output "DP-3"
}
workspace "Browsers" {
    open-on-output "DP-3"
}

// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Outputs
output "HDMI-A-1" {
    // Resolution and, optionally, refresh rate of the output.
    // The format is "<width>x<height>" or "<width>x<height>@<refresh rate>".
    // If the refresh rate is omitted, niri will pick the highest refresh rate
    // for the resolution.
    // If the mode is omitted altogether or is invalid, niri will pick one automatically.
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    mode "1920x1080@60.000"

    // Position of the output in the global coordinate space.
    // This affects directional monitor actions like "focus-monitor-left", and cursor movement.
    // The cursor can only move between directly adjacent outputs.
    // Output scale and rotation has to be taken into account for positioning:
    // outputs are sized in logical, or scaled, pixels.
    // For example, a 3840×2160 output with scale 2.0 will have a logical size of 1920×1080,
    // so to put another output directly adjacent to it on the right, set its x to 1920.
    // If the position is unset or results in an overlap, the output is instead placed
    // automatically.
    position x=0 y=0
}
output "DP-3" {
    variable-refresh-rate on-demand=true
    // Resolution and, optionally, refresh rate of the output.
    // The format is "<width>x<height>" or "<width>x<height>@<refresh rate>".
    // If the refresh rate is omitted, niri will pick the highest refresh rate
    // for the resolution.
    // If the mode is omitted altogether or is invalid, niri will pick one automatically.
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    mode "1920x1080@60.000"

}

// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Layout
layout {
    // Set gaps around windows in logical pixels.
    gaps 16

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Super+R) toggles between.
    preset-column-widths {
        // Proportion sets the width as a fraction of the output width, taking gaps into account.
        // For example, you can perfectly fit four windows sized "proportion 0.25" on an output.
        // The default preset widths are 1/3, 1/2 and 2/3 of the output.
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0

        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }

    // You can also customize the heights that "switch-preset-window-height" (Super+Shift+R) toggles between.
    preset-window-heights { 
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
}

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary shape.
    //
    // If you don't like that, you should uncomment `prefer-no-csd` below.
    // Niri will draw focus ring and border *around* windows that agree to omit their
    // client-side decorations.
    //
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
        // Uncomment this line to disable the focus ring.
        // off

        // How many logical pixels the ring extends out from the windows.
        width 2

        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        // Color of the ring on the active monitor.
        // active-color "#7fc8ff"

        // Color of the ring on inactive monitors.
        //
        // The focus ring only draws around the active window, so the only place
        // where you can see its inactive-color is on other monitors.
        // inactive-color "#505050"

        // You can also use gradients. They take precedence over solid colors.
        // Gradients are rendered the same as CSS linear-gradient(angle, from, to).
        // The angle is the same as in linear-gradient, and is optional,
        // defaulting to 180 (top-to-bottom gradient).
        // You can use any CSS linear-gradient tool on the web to set these up.
        // Changing the color space is also supported, check the wiki for more info.
        //
        // active-gradient from="#80c8ff" to="#c7ff7f" angle=90

        // You can also color the gradient relative to the entire view
        // of the workspace, rather than relative to just the window itself.
        // To do that, set relative-to="workspace-view".
        //
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"

        //FIXME: This is already generated for an include file, but that funcnionlity is not available yet
        active-color "#88bbff"
        active-gradient from="#88bbff" to="#2255ff" angle=90
        inactive-color "#848ab9"
        inactive-gradient from="#a2a2b9" to="#848ab9" angle=90
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // The settings are the same as for the focus ring.
        // If you enable the border, you probably want to disable the focus ring.
        off

        width 1
        active-color "#ffc87f"
        inactive-color "#505050"

        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"

        // Gradients can use a few different interpolation color spaces.
        // For example, this is a pastel rainbow gradient via in="oklch longer hue".
        //
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"

        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can enable drop shadows for windows.
    shadow {
        // Uncomment the next line to enable shadows.
        on

        // By default, the shadow draws only around its window, and not behind it.
        // Uncomment this setting to make the shadow draw behind its window.
        //
        // Note that niri has no way of knowing about the CSD window corner
        // radius. It has to assume that windows have square corners, leading to
        // shadow artifacts inside the CSD rounded corners. This setting fixes
        // those artifacts.
        //
        // However, instead you may want to set prefer-no-csd and/or
        // geometry-corner-radius. Then, niri will know the corner radius and
        // draw the shadow correctly, without having to draw it behind the
        // window. These will also remove client-side shadows if the window
        // draws any.
        //
        // draw-behind-window true

        // You can change how shadows look. The values below are in logical
        // pixels and match the CSS box-shadow properties.

        // Softness controls the shadow blur radius.
        softness 30

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#0007"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

//FIXME: Not yet possible, need to wait for the next release
// include "layout_colors.kdl"

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
// spawn-at-startup "waybar"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
// prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
// screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
screenshot-path null

cursor {
    hide-when-typing
}

clipboard {
    disable-primary
}

// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Example: enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    open-focused true
}

// To override the general settings, specific windows rules have to come later

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Display Rofi floating by default.
window-rule {
    match app-id=r#"^Rofi$"#
    open-floating true
    geometry-corner-radius 4
    focus-ring {
        on
        width 1
    }
    border {
        off
    }
}

// Workspace assignment
window-rule {
    match app-id=r#"^zen$"#
    open-on-workspace "Browsers"
}

window-rule {
    match app-id=r#"^kitty$"#
    match app-id=r#"^com.mitchellh.ghostty$"#
    open-on-workspace "Dev"
}

window-rule {
    match app-id=r#"^obsidian$"#
    match app-id=r#"^Bazecor$"#
    open-on-workspace "Misc"
}

window-rule {
    match app-id=r#"^discord$"#
    match app-id=r#"^org.telegram.desktop$"#
    match app-id=r#"^Proton Mail$"#
    open-on-workspace "cOmms"
}

window-rule {
    match app-id=r#"^steam$"#
    match app-id=r#"^heroic$"#
    match app-id=r#"^itch$"#
    match app-id=r#"^net.lutris.Lutris$"#
    match app-id=r#"^net.davidotek.pupgui2$"#
    match app-id=r#"^Minecraft"#
    match app-id=r#"^org.prismlauncher.PrismLauncher$"#
    open-on-workspace "Gaming"
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
    open-focused true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^Proton Pass$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    //
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.
    //
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.

    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Super+Shift+Slash { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Super+Space hotkey-overlay-title="Run Launcher" { spawn "rofi" "-show" "drun"; }

    // Utility shortcuts
    Super+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    // Use spawn-sh to run a shell command. Do this if you need pipes, multiple commands, etc.
    // Note: the entire command goes as a single argument. It's passed verbatim to `sh -c`.
    // For example, this is a standard bind to toggle the screen reader (orca).
    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    // Using spawn-sh allows to pass multiple arguments together with the command.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Example brightness key mappings for brightnessctl.
    // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
    // but you need to manually put each argument in separate "" quotes.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    Super+Alt+Ctrl+Shift+O repeat=false { toggle-overview; }

    Super+k repeat=false { close-window; }

    // Focus columns
    Super+Left  { focus-column-left; }
    Super+Down  { focus-window-down; }
    Super+Up    { focus-window-up; }
    Super+Right { focus-column-right; }
    Super+Home { focus-column-first; }
    Super+End  { focus-column-last; }

    // Move columns
    Alt+Shift+Left  { move-column-left; }
    Alt+Shift+Right { move-column-right; }
    Alt+Shift+Up    { move-window-up; }
    Alt+Shift+Down  { move-window-down; }
    Alt+Shift+Home { move-column-to-first; }
    Alt+Shift+End  { move-column-to-last; }

    // Focus monitors
    Super+Alt+Ctrl+Shift+Left hotkey-overlay-title="Focus monitor: Left" { focus-monitor-left; }
    Super+Alt+Ctrl+Shift+Right hotkey-overlay-title="Focus monitor: Right" { focus-monitor-right; }

    // Focus and move workspaces
    Super+Tab hotkey-overlay-title="Focus workspace: Previous" { focus-workspace-previous; }
    Alt+Shift+Tab hotkey-overlay-title="Move workspace: Previous monitor" { move-workspace-to-monitor-previous; }

    // Move columns between monitors
    Alt+Ctrl+Shift+Left hotkey-overlay-title="Move column to monitor: Previous" { move-column-to-monitor-previous; }
    Alt+Ctrl+Shift+Right hotkey-overlay-title="Move column to monitor: Next" { move-column-to-monitor-next; }

    // Alternatively, there are commands to move just a single window:
    // Super+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Super+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    Super+Page_Down hotkey-overlay-title="Focus workspace: Down" { focus-workspace-down; }
    Super+Page_Up hotkey-overlay-title="Focus workspace: Up" { focus-workspace-up; }
    Super+Shift+Page_Up hotkey-overlay-title="Move workspace: Up" { move-workspace-up; }
    Super+Shift+Page_Down hotkey-overlay-title="Move workspace: Down" { move-workspace-down; }
    Alt+Shift+Page_Down hotkey-overlay-title="Move column to workspace: Down" { move-column-to-workspace-down; }
    Alt+Shift+Page_Up hotkey-overlay-title="Move column to workspace: Up" { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Super+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    // Super+Shift+U         { move-workspace-down; }
    // Super+Shift+I         { move-workspace-up; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    // These binds will change direction based on the natural-scroll setting.
    //
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Super+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Super+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Super+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Super+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Super+WheelScrollRight      { focus-column-right; }
    Super+WheelScrollLeft       { focus-column-left; }
    Super+Ctrl+WheelScrollRight { move-column-right; }
    Super+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Super+Shift+WheelScrollDown      { focus-column-right; }
    Super+Shift+WheelScrollUp        { focus-column-left; }
    Super+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Super+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Super+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Super+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    // Super+1 { focus-workspace 1; }
    // Super+2 { focus-workspace 2; }
    // Super+3 { focus-workspace 3; }
    // Super+4 { focus-workspace 4; }
    // Super+5 { focus-workspace 5; }
    // Super+6 { focus-workspace 6; }
    // Super+7 { focus-workspace 7; }
    // Super+8 { focus-workspace 8; }
    // Super+9 { focus-workspace 9; }
    // Super+Ctrl+1 { move-column-to-workspace 1; }
    // Super+Ctrl+2 { move-column-to-workspace 2; }
    // Super+Ctrl+3 { move-column-to-workspace 3; }
    // Super+Ctrl+4 { move-column-to-workspace 4; }
    // Super+Ctrl+5 { move-column-to-workspace 5; }
    // Super+Ctrl+6 { move-column-to-workspace 6; }
    // Super+Ctrl+7 { move-column-to-workspace 7; }
    // Super+Ctrl+8 { move-column-to-workspace 8; }
    // Super+Ctrl+9 { move-column-to-workspace 9; }
    Super+D { focus-workspace "Dev"; }
    Super+Shift+D { move-column-to-workspace "Dev"; }
    Super+M { focus-workspace "Misc"; }
    Super+Shift+M { move-column-to-workspace "Misc"; }
    Super+O { focus-workspace "cOmms"; }
    Super+Shift+O { move-column-to-workspace "cOmms"; }
    Super+G { focus-workspace "Gaming"; }
    Super+Shift+G { move-column-to-workspace "Gaming"; }
    Super+B { focus-workspace "Browsers"; }
    Super+Shift+B { move-column-to-workspace "Browsers"; }

    // Alternatively, there are commands to move just a single window:
    // Super+Ctrl+1 { move-window-to-workspace 1; }

    // Switches focus between the current and the previous workspace.
    // Super+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    // Super+BracketLeft  { consume-or-expel-window-left; }
    // Super+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    // Super+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    // Super+Period { expel-window-from-column; }

    Super+R hotkey-overlay-title="Column: Width" { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    // Super+R { switch-preset-column-width-back; }
    Super+Shift+R hotkey-overlay-title="Column: Height" { switch-preset-window-height; }
    // Super+Ctrl+R { reset-window-height; }
    Super+F hotkey-overlay-title="Column: Maximize" { maximize-column; }
    Super+Shift+F hotkey-overlay-title="Column: Fullscreen" { fullscreen-window; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    // Super+Ctrl+F { expand-column-to-available-width; }

    Super+C hotkey-overlay-title="Column: Center" { center-column; }

    // Center all fully visible columns on screen.
    // Super+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    // Super+Minus { set-column-width "-10%"; }
    // Super+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    // Super+Shift+Minus { set-window-height "-10%"; }
    // Super+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Super+V hotkey-overlay-title="Window: Floating" { toggle-window-floating; }
    Super+Shift+V hotkey-overlay-title="Focus: floating/tiling" { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    // Super+W { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Super+Space       { switch-layout "next"; }
    // Super+Shift+Space { switch-layout "prev"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Super+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Super+Shift+E { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Super+Shift+P { power-off-monitors; }
}
